<div class="form_area">
  <%= form_with(model: @post, local:true) do |f| %>
    <%= render 'templates/error_messages', model: f.object %>
    <div class="form_area__field">
      <%= f.text_area :content, placeholder: "投稿内容を入力" ,rows: "10" ,id: "post_text"%>
    </div>
    <div class="form_area__action">
      <%= f.submit '投稿',class:"form_area__action__btn" %>
    </div>
  <% end %>
</div>