<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to "転クエ掲示板", root_url %>
    </h1>
    <ul class="header__bar__user_nav">
        <li class="header__bar__user_nav__btn">
          <!-- 一旦パスはトップページにしています。 -->
          <%= link_to "ゲストログイン", root_url %>
        </li>
        <li class="header__bar__user_nav__btn">
          <!-- 一旦パスはトップページにしています。 -->
          <%= link_to "ログイン", root_url %>
        </li>
        <li class="header__bar__user_nav__btn">
          <!-- 一旦パスはトップページにしています。 -->
          <%= link_to "新規登録", root_url %>
        </li>
    </ul>
  </div>
</header>